<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ecc334e7-f933-40d2-9b45-fdd6aacc280b" Alias="contact" Level="2">
  <Info>
    <Name>Contact</Name>
    <Icon>icon-old-phone color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>A page with contact details for this website owner</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="0dd588e4-b61a-466c-9816-8427e63db7a3">contentProperties</Composition>
      <Composition Key="7663e603-9662-4637-8d75-b5e943cbd687">headerProperties</Composition>
      <Composition Key="728b6c7e-7f3f-41c8-a337-40b0fbe255c5">visibilityProperties</Composition>
    </Compositions>
    <DefaultTemplate>Contact</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="b20af300-7d17-43ca-bcd7-b04a72e15c5e">Contact</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>