<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="aac804de-9fc0-4fbd-96d9-ced81216d711" Alias="footerProperties" Level="2">
  <Info>
    <Name>Footer Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>b2d49a4e-d729-47f5-9499-76e747680ce3</Key>
      <Name>Footer Social Links</Name>
      <Alias>footerSocialLinks</Alias>
      <Definition>a36f23bc-a399-477b-931f-9404c1695e29</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the social links to display in the footer]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ccaa2555-7166-4002-a124-78f0a3536b3a</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>