<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d3f7b886-850c-48ff-8454-3df74c7e9748" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="aac804de-9fc0-4fbd-96d9-ced81216d711">footerProperties</Composition>
      <Composition Key="7663e603-9662-4637-8d75-b5e943cbd687">headerProperties</Composition>
      <Composition Key="73ca761e-de05-4842-898d-7829322c3258">siteNavigationProperties</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0420b6d2-2b3e-4b92-a393-fdcc059ec27d">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="a85c92ed-12c3-4e83-b945-4dca1fac401b" SortOrder="0">contentPage</ContentType>
    <ContentType Key="ecc334e7-f933-40d2-9b45-fdd6aacc280b" SortOrder="1">contact</ContentType>
    <ContentType Key="9fb80cc1-5c67-4107-9554-cf88aa155b46" SortOrder="2">articleListPage</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>