<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="728b6c7e-7f3f-41c8-a337-40b0fbe255c5" Alias="visibilityProperties" Level="2">
  <Info>
    <Name>Visibility Properties</Name>
    <Icon>icon-defrag color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>2a473ab3-1fc9-4b72-a246-bfa194c23c22</Key>
      <Name>Hide</Name>
      <Alias>umbracoNaviHide</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Set this to true if you want to hide this page from the main navigation and from search results, sitemaps, and general list pages.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="visibility">Visibility</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>42401025-05af-4b65-b8d0-daf85d1891f8</Key>
      <Caption>Visibility</Caption>
      <Alias>visibility</Alias>
      <Type>Tab</Type>
      <SortOrder>80</SortOrder>
    </Tab>
  </Tabs>
</ContentType>