@inherits UmbracoViewPage<IHeaderProperties>

<!-- Page Header-->
<header class="vc_row wpb_row section vc_row-fluid grid_section" style="background-image: url('@(Model.MainImage.Url())')">
    <div class="vc_col-sm-12 wpb_column vc_column_container">
        <div class="row gx-4 gx-lg-5 justify-content-center" style="margin-top: 98px; margin-bottom: 0px;">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>@Model.Title</h1>
                    <span class="subheading">@Model.Subtitle</span>
                </div>
            </div>
        </div>
    </div>
</header>
