<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e6d71fa-8b3e-4f36-9eff-7acc6732be7e" Alias="[BlockList] Main Content" Level="1">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "16853dac-a492-480f-9354-09578060022d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Rich Text ' + $index }} {{$settings.hide === '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "18980207-e9b6-4b79-9db5-d556d232cdca",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "backgroundColor": null,
      "contentElementTypeKey": "038e5e2c-c6dd-46ea-9806-efe448ac2a3e",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{ 'Image Row ' + $index }}{{$settings.hide === '1' ? '[HIDDEN]' : ''}}",
      "settingsElementTypeKey": "0c20483c-6ac7-4690-aef4-2ac8fc7b04f7",
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": true,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>