<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf08902c-978e-4aeb-968a-edd4ff03d374" Alias="[Multi URL Picker] Single URL Picker" Level="1">
  <Info>
    <Name>[Multi URL Picker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "HideAnchor": false,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "OverlaySize": "small"
}]]></Config>
</DataType>