<?xml version="1.0" encoding="utf-8"?>
<Media Key="2574e952-819c-4a19-9126-6b8f40904658" Alias="Jack Hamilton EP Ohkgn1ji Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JackHamiltonEPOhkgn1jiUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-05T13:12:38</CreateDate>
    <NodeName Default="Jack Hamilton EP Ohkgn1ji Unsplash" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ktuhijm2/jack-hamilton-ep_ohkgn1ji-unsplash.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>