<?xml version="1.0" encoding="utf-8"?>
<Media Key="03b61bf5-344b-4b91-9624-93f42b760a8e" Alias="Steve Hillhouse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SteveHillhouse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-12T13:00:40</CreateDate>
    <NodeName Default="Steve Hillhouse" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4mnlma0l/steve_hillhouse.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>