<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7573eb6-85e2-4d29-a7ec-9fbc3e9af6d9" Alias="Susan" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Susan</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-12T13:00:18</CreateDate>
    <NodeName Default="Susan" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wa5fpz5c/susan.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>