<?xml version="1.0" encoding="utf-8"?>
<Media Key="8302ff74-7589-42c1-a27d-d0e75d7eddc4" Alias="WMC Cover About 1024X187" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/WMCCoverAbout1024X187</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-12T12:57:24</CreateDate>
    <NodeName Default="WMC Cover About 1024X187" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ol5bfa2j/wmc_cover_about-1024x187.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>