<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8eea4f0-8250-4b50-a4ad-bc8deb48e29d" Alias="About" Level="2">
  <Info>
    <Parent Key="363744a7-3f9c-4abb-bb96-cba97de5632e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-05T15:47:18</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f143b0c6-d72e-4e71-81f3-f65a1c7c0543">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8e11a19b461446a8b663bbc500317bb3",
        "settingsUdi": "umb://element/bff2aa0eda9343a48ba989e10552f871"
      },
      {
        "contentUdi": "umb://element/694ca03e21544c0bbc839b16be4d277c",
        "settingsUdi": "umb://element/521dd4b3b4bc465899386bce35686c1a"
      },
      {
        "contentUdi": "umb://element/b78ca1627b8c4627be4c063e9ee6e0b3",
        "settingsUdi": "umb://element/cd71e8ede00a4648bc4d41e2a868c233"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "16853dac-a492-480f-9354-09578060022d",
      "udi": "umb://element/8e11a19b461446a8b663bbc500317bb3",
      "content": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Orci eu lobortis elementum nibh tellus molestie nunc. Velit sed ullamcorper morbi tincidunt ornare. Tellus id interdum velit laoreet id donec ultrices. A lacus vestibulum sed arcu non odio euismod. Malesuada fames ac turpis egestas integer eget aliquet nibh praesent. Pharetra pharetra massa massa ultricies mi quis hendrerit dolor. </p>"
    },
    {
      "contentTypeKey": "16853dac-a492-480f-9354-09578060022d",
      "udi": "umb://element/b78ca1627b8c4627be4c063e9ee6e0b3",
      "content": "<p>Tristique risus nec feugiat in fermentum posuere. Lectus urna duis convallis convallis tellus id interdum. Eget sit amet tellus cras adipiscing enim. Semper risus in hendrerit gravida rutrum quisque non tellus orci. Porttitor massa id neque aliquam vestibulum morbi blandit cursus. Praesent elementum facilisis leo vel fringilla est ullamcorper. Magnis dis parturient montes nascetur ridiculus mus mauris vitae ultricies. Lobortis elementum nibh tellus molestie nunc non blandit. Ut consequat semper viverra nam. Nunc mi ipsum faucibus vitae aliquet nec ullamcorper sit amet. Laoreet id donec ultrices tincidunt.</p>"
    },
    {
      "contentTypeKey": "038e5e2c-c6dd-46ea-9806-efe448ac2a3e",
      "udi": "umb://element/694ca03e21544c0bbc839b16be4d277c",
      "image": [
        {
          "key": "24ee0215-ffb6-4736-932b-e9a03edf6736",
          "mediaKey": "2574e952-819c-4a19-9126-6b8f40904658"
        }
      ],
      "caption": "This is a picture of my pet frog",
      "link": [
        {
          "name": "Frogs on Google",
          "target": "_blank",
          "url": "https://google.com?query=frogs"
        }
      ]
    }
  ],
  "settingsData": [
    {
      "contentTypeKey": "18980207-e9b6-4b79-9db5-d556d232cdca",
      "udi": "umb://element/bff2aa0eda9343a48ba989e10552f871",
      "hide": "0"
    },
    {
      "contentTypeKey": "0c20483c-6ac7-4690-aef4-2ac8fc7b04f7",
      "udi": "umb://element/521dd4b3b4bc465899386bce35686c1a",
      "hide": "1"
    },
    {
      "contentTypeKey": "18980207-e9b6-4b79-9db5-d556d232cdca",
      "udi": "umb://element/cd71e8ede00a4648bc4d41e2a868c233"
    }
  ]
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "ed3d9ac6-8ecb-42f6-8ffb-9c7f8a0c6a69",
    "mediaKey": "46351a15-2623-44aa-9906-f8ef75e13ba3"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[This will tell you all you need to know]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[About this website]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>