<?xml version="1.0" encoding="utf-8"?>
<Content Key="c8eea4f0-8250-4b50-a4ad-bc8deb48e29d" Alias="About" Level="2">
  <Info>
    <Parent Key="363744a7-3f9c-4abb-bb96-cba97de5632e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-05T15:47:18</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f143b0c6-d72e-4e71-81f3-f65a1c7c0543">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/6be366dc586b42d5abfba3137d8b1740"
      },
      {
        "contentUdi": "umb://element/1b143e4321db49c68dae73215178abaa"
      },
      {
        "contentUdi": "umb://element/f0acc4f523e54689a15b1fafe1f7bf23"
      },
      {
        "contentUdi": "umb://element/ec69ca301e4a45f2831b6094660f6970"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "24ee41f9-20bc-469a-91c4-bbd86d36a383",
      "udi": "umb://element/6be366dc586b42d5abfba3137d8b1740",
      "image": [
        {
          "key": "c3e05735-8e25-4bdc-86c5-a703b0ae561b",
          "mediaKey": "f99cc19b-34b1-4088-8d21-71b2d519425f"
        }
      ],
      "richText": "<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<h2>Zach &amp; Hollie Miller, Owners/Operators</h2>\n</div>\n</div>\n<div class=\"separator  transparent center  \"></div>\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<p>Zach has basically grown up at the WMC shop. From his childhood days of doing odd jobs for his Grandpa Max to selling stones throughout high school and college, no matter where life led him Zach always came back to WMC. In 2013, Zach and Hollie acquired the shop—and hope that their son Harrison will one day carry on the Miller tradition.</p>\n</div>\n</div>\n</div>\n</div>"
    },
    {
      "contentTypeKey": "fb4c7c22-5e34-41ae-90e5-98140c5fe193",
      "udi": "umb://element/1b143e4321db49c68dae73215178abaa",
      "image": [
        {
          "key": "c5dd891c-e407-469f-b9c0-064cecebe7c2",
          "mediaKey": "9ea69608-c6d7-4b81-892c-c611e01f0f25"
        }
      ],
      "richText": "<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<h2>Joe Miller, Lead Craftsman</h2>\n</div>\n</div>\n<div class=\"separator  transparent center  \"></div>\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<p>Joe started work at WMC in 1975, where he worked alongside his father Max for 17 years. A few years later, he returned to WMC in 2008 and now works with his own son, Zach. Known affectionately around the shop as ’Picasso’, Joe is a meticulous artist who takes great pride in every detail.</p>\n</div>\n</div>\n</div>\n</div>"
    },
    {
      "contentTypeKey": "24ee41f9-20bc-469a-91c4-bbd86d36a383",
      "udi": "umb://element/f0acc4f523e54689a15b1fafe1f7bf23",
      "image": [
        {
          "key": "c2ffc942-960d-484d-88af-12d0c2655917",
          "mediaKey": "e7573eb6-85e2-4d29-a7ec-9fbc3e9af6d9"
        }
      ],
      "richText": "<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<h2>Susan (Miller) Matlock, Bookkeeping</h2>\n</div>\n</div>\n<div class=\"separator  transparent center  \"></div>\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<p>Susan (along with husband Wendel) owned WMC for over twenty years, accepting the helm from her father (Max), and eventually passing it to Zach (her nephew). You’ll still find her helping at the shop, making each person feel welcome and happily finding just the right solution for them.</p>\n</div>\n</div>\n</div>\n</div>"
    },
    {
      "contentTypeKey": "fb4c7c22-5e34-41ae-90e5-98140c5fe193",
      "udi": "umb://element/ec69ca301e4a45f2831b6094660f6970",
      "image": [
        {
          "key": "7cde2f29-1e38-4f21-b231-50f14b89a216",
          "mediaKey": "03b61bf5-344b-4b91-9624-93f42b760a8e"
        }
      ],
      "richText": "<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<h2>Steve Hillhouse, Production</h2>\n</div>\n</div>\n<div class=\"separator  transparent center  \"></div>\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<div class=\"wpb_text_column wpb_content_element \">\n<div class=\"wpb_wrapper\">\n<p>Steve joined the WMC team in 1997 and—by all accounts—is an ‘honorary Miller’ to us.  Though humble, we can tell you that he’s the ultimate utility player and excels at every position within the shop.</p>\n</div>\n</div>\n</div>\n</div>"
    }
  ],
  "settingsData": []
}]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "851b514d-e2fe-449d-9247-5f71fae0503b",
    "mediaKey": "8302ff74-7589-42c1-a27d-d0e75d7eddc4"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[It all started in 1958, within a modest 500 sq. ft. shop in Seymour, Missouri. By 1963, founder Max Miller had grown the Wholesale Monument Co. to also include funeral homes in Seymour, Mansfield, and Hartville. Max’s son Joe joined in 1975—by which time WMC was solely focused on monuments. Father and son worked together for nearly 20 years until 1992, when Wendel and Susan Matlock (Max’s daughter) took over the business, upholding the tradition until 2013—when Max’s grandson Zach Miller and wife Hollie proudly became owners of WMC.]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Five Decades. Three Generations.]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[0]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>