<?xml version="1.0" encoding="utf-8"?>
<Content Key="032accb4-a4df-4936-a738-1336b6a638ef" Alias="Blog" Level="2">
  <Info>
    <Parent Key="363744a7-3f9c-4abb-bb96-cba97de5632e">Home</Parent>
    <Path>/Home/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>articleListPage</ContentType>
    <CreateDate>2023-10-10T08:38:56</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="f8acfa94-ef66-446b-81ed-239cb998c1bb">ArticleListPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "83ade80e-29d6-4060-b686-cf6f134f974a",
    "mediaKey": "46351a15-2623-44aa-9906-f8ef75e13ba3"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>