<?xml version="1.0" encoding="utf-8"?>
<Content Key="a8067975-8cc8-4aa3-b220-8e5cd0138615" Alias="Contact" Level="2">
  <Info>
    <Parent Key="363744a7-3f9c-4abb-bb96-cba97de5632e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contact</ContentType>
    <CreateDate>2023-10-10T08:39:06</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="b20af300-7d17-43ca-bcd7-b04a72e15c5e">Contact</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[]]></Value>
    </bodyText>
    <mainContent>
      <Value><![CDATA[]]></Value>
    </mainContent>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "871c633f-6f72-4559-ae97-7dc3d8287b41",
    "mediaKey": "2574e952-819c-4a19-9126-6b8f40904658"
  }
]]]></Value>
    </mainImage>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[]]></Value>
    </title>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>