<?xml version="1.0" encoding="utf-8"?>
<Content Key="363744a7-3f9c-4abb-bb96-cba97de5632e" Alias="Home" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Home</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2023-10-05T11:16:19</CreateDate>
    <NodeName Default="Home" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="0420b6d2-2b3e-4b92-a393-fdcc059ec27d">HomePage</Template>
  </Info>
  <Properties>
    <footerSocialLinks>
      <Value><![CDATA[]]></Value>
    </footerSocialLinks>
    <mainImage>
      <Value><![CDATA[[
  {
    "key": "bfd67ce4-f1ba-4ea0-a072-ab124c0c77fb",
    "mediaKey": "2574e952-819c-4a19-9126-6b8f40904658"
  }
]]]></Value>
    </mainImage>
    <mainNavigation>
      <Value><![CDATA[]]></Value>
    </mainNavigation>
    <subtitle>
      <Value><![CDATA[A blog website for Heath Falkenrath]]></Value>
    </subtitle>
    <title>
      <Value><![CDATA[Heath's Site]]></Value>
    </title>
  </Properties>
</Content>